.albumSongCard {
    display: flex;
    width: 98%;
    justify-content: space-between;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    border: 2px solid var(--darkp);
}

.albumHeader {
    display: flex;
    align-items: center;
    height: 350px;
    background: linear-gradient(to bottom, var(--darkp) 0%, black 120%);
    border-radius: 20px;
}

.albumCardImg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 290px;
    max-height: 290px;
    min-height: 290px;
    min-width: 290px;

    margin: 40px;
    border-radius: 15px;
    border: 2px solid var(--darkp);
}

.songUnknownCardImg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    max-height: 80px;
    min-height: 80px;
    min-width: 80px;
    border-radius: 15px;
    border: 2px solid var(--darkp);
}

.albumHeaderInfo {
    line-height: 0.8;
}

.albumSongs {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--darkp) 0%, black 220%);
    align-items: center;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
}

.albumSongsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 100%;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.albumSongCard:hover {
    cursor: pointer;
    background-color: rgba(81, 24, 176, 0.3);
}

.songLabels {
    border-bottom: 2px solid var(--darkp);
    width: 98%;
    color: white;
}

.songTitleAlign {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.albumBody {
    background: linear-gradient(to bottom, black 0%, var(--darkp) 140%);
    border: 2px solid black;
    border-radius: 10px;
}

.iconItemsAlign {
    display: flex;
    width: 15%;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}

.newSongAlbumImgCard {
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
    min-width: 200px;

    border: 2px solid var(--purple);
    border-radius: 20px;
}

.addSongToAlbumButton:hover {
    cursor: pointer;
    color: var(--purple);
}

.albumDesc {
    width: 70%;
    line-height: 1.5;
}

.albumDescriptionItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.removePlaylistButton {
    cursor: pointer;
    color: white;
}

.playlistModalButton {
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid var(--darkp);
}
