.playlistContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid var(--purple);
    min-width: 250px;

    margin: 5px;
    background-color: black;
    border-radius: 20px;
}

.playlistCard {
    display: flex;
    border: 1px solid var(--purple);
    width: 80%;
    height: fit-content;
    margin: 10px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.playlistCard:hover {
    background-color: var(--darkp);
}

.playlistCardContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 93%;
    align-items: center;
}

.playlistCardImg {
    max-height: 40px;
    min-height: 40px;
    max-width: 40px;
    min-width: 40px;
    margin: 7px;
    border-radius: 5px;
}

.playlistImgTitle {
    display: flex;
    gap: 6px;
    width: fit-content;
}

.playlistDetailsCardSongTitle{
    min-width: fit-content;
}

.playlistPlayButton {
    width: fit-content;
    border-radius: 40px;
}

.playlistPlayButton:hover {
    filter: drop-shadow(0 0 0.75rem var(--lightp));
}

.likedPlaylistIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius: 5px;
    border: 2px solid var(--purple);
    background-color: var(--darkp);
    width: 40px;
    height: 40px;
    margin: 7px;
}


.likedPlaylistIcon {
    margin: 5px;
    border-radius: 5px;
}

.addPlaylistButton {
    cursor: pointer;
}

.addPlaylistButton:hover {
    filter: drop-shadow(0 0 0.75rem var(--buttonp));
}

.pdDContainer {
    position: absolute;
    border: 2px solid var(--darkp);
    border-radius: 10px;
    z-index: 1;
    background: black;
    padding: 10px;
}

.pdDLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0px 5px 1px;
    border-radius: 5px;
    height: 40px;
}

.pdDLinks:hover {
    color: var(--buttonp);
}

.pdDPlaylist {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0px 5px 1px;
    border-radius: 5px;
}

.pdDPlaylist:hover {
    background-color: var(--buttonp);
}

.pdDCoverImg {
    border: 1px solid var(--darkp);
    border-radius: 5px;
    max-width: 25px;
    max-height: 25px;
    min-height: 25px;
    min-width: 25x;
}

.pdDAllAddedText {
    font-style: oblique;
    color: var(--purple);
    font-size: 15px;
}

.pdDPlaylistContainer {
    margin-bottom: 5px;
}

.pSongMinusButton:hover {
    color: var(--purple);
    cursor: pointer;
}

.loadingDisc {
    height: 35px;
}

.deletePlaylistModalContainer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    color: var(--darkp);
    background: linear-gradient(white, var(--lightp));
    border-radius: 30px;
}

.deletePlayButtonContainer {
    display: flex;
    justify-content: center;
    gap: 180px;
}

.deletePlaylistButton {
    width: 120px;
    align-self: center;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    font-style: oblique;
    background: linear-gradient(var(--purple), var(--darkp));
    color: whitesmoke;
    cursor: pointer;
    border: 2px solid var(--purple);
}
