.songCard {
    border: 2px solid black;
    width: 20%;
    height: 200px;
    margin: 10px;
    margin-right: 20px;
    margin-left: 40px;
    cursor: pointer;
}

.songImg {
    max-width: 100px;
    max-height: 100px;

}

.songContainer {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
