.songCard {
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

.songImg {
    max-width: 100px;
    max-height: 100px;

}

.songContainer {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
