.profile-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 2px solid var(--purple);
  top: 70px;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  right: 10px;
  background: linear-gradient(var(--lightp), var(--purple));
  border-radius: 5px;
  color: var(--darkp);
  list-style: none;
}

.NavContainer {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border: 2px solid black;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
  background-color: black;
  z-index: 1001;
  color: black;
}

.ProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ProfileButton {
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  color: var(--purple);
  background-color: transparent;
  border: 1px solid black;
  box-shadow: 2px 2px 4px var(--darkp);
  cursor: pointer;
}

.ProfileButton:hover {
  box-shadow: 2px 1px 4px var(--lightp);
}

.dropDownItem {
  display: flex;
  border-radius: 5px;
  margin: 10px;
  justify-content: center;
  padding: 10px;
  background-color: var(--darkp);
  color: white;
  cursor: pointer;
}

.profileNavs {
  text-decoration: none;
  color: var(--darkp);
  padding: 8px;
}

.profileNavs:hover {
  border: 1px solid var(--darkp);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.dropDownLink {
  cursor: pointer;
}

.navLogo {
  text-decoration: none;
  font-weight: bolder;
  font-size: 100px;
  padding-left: 30px;

  background: linear-gradient(var(--purple), var(--darkp));
  background-clip: text;
  color: transparent;
}

.profileNameButton {
  text-decoration: none;
  font-weight: bolder;
  font-size: 40px;

  background: linear-gradient(var(--purple), var(--darkp));
  background-clip: text;
  color: transparent;
}

.profile-active-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-logout {
  padding: 5px;
  cursor: pointer;
}

.profile-logout:hover {
  border: 1px solid var(--darkp);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
