.apContain {
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: black;
}

.audioPSongInfo {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 10px;
    width: fit-content;
}


.audioPSongTitle {
    width: fit-content;
    margin-left: 20px;
}

.audioPlayer {
    display: flex;
    margin-top: 10px;
    width: 950px;
    margin-left: 100px;
}

.audioP-song-Img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80px;
    max-height: 80px;
    min-height: 80px;
    min-width: 80px;
    border-radius: 15px;
}

.a-con {
    border: 2px solid pink;
}

.rhap_container {
    background: black;
    border-radius: 20px;
}

.rhap_progress-filled,
.rhap_progress-indicator {
    background-color: var(--purple);
}

.rhap_main-controls-button {
    color: lightgray;
    width: 50px;
}

.rhap_main-controls-button:hover {
    color: var(--purple);
}

.rhap_volume-indicator {
    background-color: var(--purple);
}

.rhap_volume-bar {
    background-color: white;
}

.rhap_volume-filled {
    background-color: var(--purple);
}

.rhap_time {
    color: var(--purple);
}

.rhap_volume-button {
    color: var(--purple);
}

.rhap_repeat-button {
    color: var(--purple);
}
